<html>
<body>
<div>
    <form action="/addDeck" method="post">
        <input type="text" name="deckname" placeholder="Название колоды" />
        <button type="submit">Добавить</button>
    </form>
</div>
<a href="/index">На главную страницу</a>
</body>
</html>