<html>
<body>
<div>Список карт</div>
    {{#cards}}
        <tr>
            <li>
                <a href="/findCards?cardname={{cardname}}">{{cardname}}</a>
            </li>
        </tr>
    {{/cards}}
<a href="/index">На главную страницу</a>
</body>
</html>